body{
  background-color: #02010a;
  font-family: "Dancing Script",cursive;
}
header{
  background-color: #5b7989;
  width: 60%;
  height: 40%;
  border-top-left-radius:  10px;
  border-top-right-radius: 10px;
  margin:0 auto;
  display: flex;
}
section{
  width: 60%;
  height: 40%;
  background-color: #82c3a6;
  margin: 0 auto;
}
footer{
  width: 60%;
  height: 40%;
  background-color:#c6d5c5;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
  margin:0 auto;
}
#container img{
  width: 62%;
  margin:0 auto;
  display: inline-block;
  display: block;
  padding: 10px;
  filter: drop-shadow(2px 2px 2px black);
}
.titulo{
  padding-left: 0%;
  padding-top: 3%;
  color: white;
  filter: drop-shadow(2px 2px 2px #02010a);
}
 a[href^="html/Paisajes.html"],a[href^="html/Retratos.html"],a[href]{
  padding-right: 10%;
  color: white;
  text-decoration: none;
  filter: drop-shadow(2px 2px 2px #02010a);
  }
.enlaces{
  padding-right: 0%;
  padding-top: 3%;
  font-size: 1.2em;
}
.contenedor {
  margin: 0;
  padding: 0;
  width: 60%;
	display: flex;
	flex-flow: row wrap;
  margin:0 auto;
  border: 1px;
  background-color:  #d5c75f;
}
.contenedor div {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5em;
  box-sizing: border-box;
  min-height: 250px;
  min-width: 100px;
}
.bloque1  {
  font-family: "Dancing Script",cursive;
	font-size: 2em;
  width: 50%;
}
.bloque2  {
  font-family: "Dancing Script",cursive;
	font-size: 2em;
  width: 50%;
}
.bloque1 img{
  width: 100%;
  height: 250px;
  display: inline-block;
  display: block;
  margin: auto;
  padding-top: 0;
  transition: 2s;
  filter: drop-shadow(2px 2px 2px #02010a);
}
.bloque1 img:hover{
  transform: rotate(10deg);
  filter: drop-shadow(2px 2px #82c3a6);
}
.bloque2 img{
  width: 100%;
  height: 250px;
  display: inline-block;
  display: block;
  margin: auto;
  padding-top: 0;
  transition: 1s;
  filter: drop-shadow(2px 2px 2px #02010a);
}
.bloque2 img:hover{
  transform: translateX(20px) translateY(-5px);
  filter: drop-shadow(2px 2px #82c3a6);
}

.series{
  margin: 0;
  padding: 0;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin:0 auto;
}
.series div{
  text-align: left;
  font-size: 1em;
  box-sizing: border-box;
}

.serie1{
  width: 25%;
  padding: 0;
}
.serie2{
  width: 22%;
  padding: 0;
}
.serie3{
  width: 26%;
  padding: 0;
}
img[src$="svg"]{
  border-radius: 3px;
  padding: 0;
}
.redes{
  text-align: justify;
  padding: 0;
}
.serie4{
  width: 27%;
  padding: 0;
}
img[src$="png"]{
  border-radius: 3px;
  padding: 0;
}
.redes a[href="http://facebook.com"],a[href="http://twitter.com"],a[href="http://youtube.com"]{
  color: black;
  filter: none;
}

@media screen and (min-width:900px) {
  #wrapper{
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width:900px) {
  #wrapper{
    width: 100%;
    margin: 0 auto;
  }

  #container{
    width: 100%;
  }
  .bloque1{
    width: 100%;
  }
  .bloque2{
    width: 100%;
  }
  .serie1{
    width: 100%;
  }
  .serie2{
    width: 100%;
  }
  .serie3{
    width: 100%;
  }
  .serie4{
    width: 100%;
  }
}
